<form #form ="ngForm"(submit)="onsubmit(form)">

  <!----->
    <label for="cars">Choose a model:</label>
    <select name="selectedCar" id="cars" [(ngModel)]="selectedModel" >
      <option *ngFor="let th of service.listgetcb">{{th}}</option>
    </select>
    <button type="submit">submit</button>&nbsp;<button type="reset">Reset</button>
</form>

<mat-form-field>
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date">
    <input matEndDate placeholder="End date">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
<mat-form-field>
  <mat-label>Select Model</mat-label>
  <mat-select [(ngModel)]="selectedModel"(ngModelChange)="onDropModelChange($event)">
    <mat-option *ngFor="let th of service.listgetcb" [value]="th">{{th}}</mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field>
  <mat-label>Select Process</mat-label>
  <mat-select [(ngModel)]="selectedProcess"(ngModelChange)="onDropProcessChange($event)" >
    <mat-option *ngFor="let th of listProcess" [value]="th">{{th}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Select Inspect</mat-label>
  <mat-select [(ngModel)]="selectedInspect" >
    <mat-option *ngFor="let th of listInspect" [value]="th">{{th}}</mat-option>
  </mat-select>
</mat-form-field>

