table {
    width: 100%;
  }
.demo-form{
  width: 100%;
}
/* spinner.component.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Đảm bảo nó nằm trên cùng */
}

.spinner-container {
  background-color: white; /* Màu nền của spinner container */
  padding: 20px;
  border-radius: 5px;
}
