<!-- <form #form ="ngForm"(submit)="onsubmit(form)">

    <label for="cars">Choose a model:</label>
    <select name="selectedCar" id="cars" [(ngModel)]="selectedModel" >
      <option *ngFor="let th of service.listgetcb">{{th}}</option>
    </select>
    <button type="submit">submit</button>&nbsp;<button type="reset">Reset</button>
</form> -->

<form  #form ="ngForm" (submit)="onsubmit(form)" class="demo-form"> 
  <mat-form-field class="demo-form-field">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" name="startdate" #startdate="ngModel" [(ngModel)]="service.formdata.startdate">
      <input matEndDate placeholder="End date" name="enddate" #enddate="ngModel" [(ngModel)]="service.formdata.enddate">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select Model</mat-label>
    <mat-select name="model" #model="ngModel" [(ngModel)]="service.formdata.model" (ngModelChange)="onDropModelChange($event)">
      <mat-option *ngFor="let th of service.listgetcb" [value]="th">{{th}}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Select Process</mat-label>
    <mat-select name="process" #process="ngModel" [(ngModel)]="service.formdata.process" (ngModelChange)="onDropProcessChange($event)" >
      <mat-option *ngFor="let th of listProcess" [value]="th">{{th}}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Select Inspect</mat-label>
    <mat-select  name="inspect" #inspect="ngModel" [(ngModel)]="service.formdata.inspect">
      <mat-option *ngFor="let th of listInspect" [value]="th">{{th}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" mat-button >Submit</button> 
</form>
<div *ngIf="spinnerService.isVisible()" class="overlay">
  <mat-progress-spinner  mode="indeterminate" diameter="50"></mat-progress-spinner>

</div>

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="serno">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Serno </th>
    <td mat-cell *matCellDef="let element"> {{element.serno}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="lot">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lot </th>
    <td mat-cell *matCellDef="let element"> {{element.lot}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="inspectdate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Inspectdate </th>
    <td mat-cell *matCellDef="let element"> {{element.inspectdate|date:'yyyy/MM/dd h:mm:ss a'}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="inspectdata">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Inspectdata </th>
    <td mat-cell *matCellDef="let element"> {{element.inspectdata}} </td>
  </ng-container>
  <ng-container matColumnDef="judge">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Judge </th>
    <td mat-cell *matCellDef="let element"> {{element.judge}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

