<table  class="table table-bordered">
    <thead style="color: rgb(219, 240, 219);background-color: rgb(18, 201, 109);">
        <td>Time</td>
        <td>humidity</td>
        <td>humidityjudge</td>
        <td>temp</td>
        <td>tempjudge</td>
    </thead>
<tr *ngFor="let th of service.list">
    <!-- <td>{{service.datath.inspectdate| date:'yyyy/MM/dd HH:mm:ss'}}</td>
    <td>{{service.datath.humidity}}</td>
    <td>{{service.datath.humidityjudge}}</td>
    <td>{{service.datath.temp}}</td>
    <td>{{service.datath.tempjudge}}</td> -->
    <td>{{th.inspectdate| date:'yyyy/MM/dd HH:mm:ss'}}</td>
    <td>{{th.humidity}}</td>
    <td>{{th.humidityjudge}}</td>
    <td>{{th.temp}}</td>
    <td>{{th.tempjudge}}</td>
</tr>
</table>